{% extends "base.html" %}

{% block lab %}Расчётно-графическое задание{% endblock %}

{% block main %}
<body>
    <h1>Сообщения</h1>

    <ul>
        {% for user in users %}
            <li>
                <a href="/messages/{{ user.id }}">{{ user.login }}</a>
            </li>
        {% endfor %}
    </ul>

    <hr>

    <ul>
        {% for message in messages %}
            <li>
                <strong>{{ message.sender.login }}</strong>: {{ message.text }}
                <a href="/messages/delete/{{ message.id }}">Удалить</a>
            </li>
        {% endfor %}
    </ul>

    <form action="/messages/send" method="post">
        <input type="hidden" name="receiver_id" value="{{ user_id }}">
        <input type="text" name="text" placeholder="Сообщение">
        <input type="submit" value="Отправить">
    </form>
</body>
{% endblock %}
